/* General syles */

/* Fonts import */

@import url('https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,500,500i,700,700i&display=swap');

html {
	font-family: 'Roboto', sans-serif;
 	line-height: 1.15;
 	-webkit-text-size-adjust
 	-moz-text-size-adjust,
 	-ms-text-size-adjust: 100%;
 	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
 	margin: 0;
 	font-size: 	14px;
 	font-weight: 400;
 	line-height: 1.5;
 	color: #222222;
 	text-align: left;
 	background-color: #f3f1f5;
}

h1, h2, h3, h4, h5, h6 {
 	margin-top: 0;
 	margin-bottom: 0.5rem;
}

a {
	text-decoration: none;
	color: #222222;
	cursor: pointer;
}

p {
 	margin-top: 0;
 	margin-bottom: 1rem;
}

:active, :hover, :focus {
    outline: 0;
    outline-offset: 0;
}

.container{
	max-width: 1200px;
	width: 100%;
	margin-left: auto;
	margin-right: auto; 
}

.row-items {
	display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.item {
	-ms-flex-preferred-size: 0;
  flex-basis: 0;
  -ms-flex-positive: 1;
  flex-grow: 1;
  max-width: 100%;
}

/* Header */

.header {
	height: 80px;
	line-height: 80px;
	background-color: rgba(255, 255, 255, .2);
	display: -ms-flexbox;
	display: flex;
  align-items: center;
  position: absolute;
  width: 100%;
}

.navbar {
	font-size: 14px;
	display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.navbar .top-nav {
	list-style: none;
  margin: 0;
  padding: 0;
  float: right;
  font-weight: 200;
}

.navbar .top-nav li {
	margin: 0;
	padding: 0;
	display: inline;
}

.navbar .top-nav li a {
	padding: 10px 40px;
	border: 2px solid transparent;
	font-weight: 400;
}

.navbar .top-nav li a.selected {
	border: 1px solid #f10002;
}

.navbar-brand{
	padding-top: 25px;
  display: grid;
}

.banner {
	background: url(../img/img_banner.png) no-repeat;
}

/* Banner section */

.banner-container {
	width: 100%;
  margin-right: auto;
  margin-left: auto;
  background: url(../img/img_banner.png) no-repeat;
  background-size: cover;
}

.main-info {
	text-align: right;
	padding-top: 190px;
	width: 100%;
  padding: 190px 0 95px;
  width: 100%;
}

.main-info h1 {
	font-size: 	33px;
}

.main-info hr {
	background: #a3a2ae;
	border: none;
	height: 2px;
	width: 55%;
}

/* Form Info */

.main-info form.form-info {

}

.main-info form.form-info input[type="text"] {
	border-bottom: 2px solid #a3a2ae;
	border-right: none;
	border-left: none;
	border-top: none;
	background: transparent;
	color: #222222;
	font-size: 50px;
	width: 55%;
	text-align: right;
	padding-bottom: 15px;
	margin-bottom: 47px;
}

.main-info form.form-info input[type="text"]::placeholder {
	color: #222222;
}

.main-info form.form-info select {
  background: rgb(255, 255, 255, .3);
  width: 280px;
  border: 2px solid #bdb9d4;
  border-radius: 3px;
  line-height: 30px;
  font-size: 20px;
  height: 54px;
  margin-right: 15px;
}

.main-info form.form-info button {
	padding: 18px 67px;
	background: #f10002;
	color: #fff;
	font-size: 18px;
	font-weight: 400;
	cursor: pointer;
	border: 2px solid #ca0002;
	border-radius: 3px;
}

.form-group {
	width: auto;
  display: inline-block;
  text-align: center;
}

.main-info form.form-info p {
	font-size: 12px;
	margin-top: 15px;
}

.main-info form.form-info p a {
	text-decoration: underline;
}

/* Features section */

.features {
	margin-top: 80px;
}

.features h2.title {
	color: #f20002;
	font-size: 18px;
	text-transform: uppercase;
	margin-bottom: 10px;
}

.features p.text {
	font-size: 26px;
	font-style: italic;
	font-weight: 200;
	line-height: 36px;
	margin-bottom: 80px;
}

.features .row-items .item {
	background: #eeebf1;
	text-align: center;
	margin-right: 30px;
	padding: 40px 80px;
}

.features .row-items .item h3 {
	text-transform: uppercase;
	font-size: 24px;
	line-height: 36px;
	font-weight: 400;
	margin: 25px 0;
}

.features .row-items .item span {
	font-size: 16px;
	line-height: 36px;
	line-height: 20px;
}
 
.features .row-items .item hr {
	border: 1px solid #f10002;
	width: 120px;
	margin-bottom: 25px;
}

/* FAQ section */

.faq {
	padding: 70px 0 30px 0;
}

.faq h2.title {
	font-weight: 400;
	font-size: 24px;
	line-height: 24px;
	text-align: center;
	margin-bottom: 25px;
}

.faq h3 {
	font-style: italic;
	font-size: 20px;
	font-weight: 400;
	margin-bottom: 25px;
}

.faq .item p {
	margin-bottom: 45px;
	font-size: 16px;
	line-height: 24px;
}

.faq .row-items .item:first-child {
	padding-right: 40px;
}

.faq .row-items .item:nth-child(2n) {
	padding-left: 40px;
}

/* Footer */

footer {
	background: #fff;
}

.bottom-nav {
	text-align: justify;
	align-items: center;
	height: 70px;
}

.bottom-nav ul{
	list-style: none;
	margin: 0;
	width: 100%;
	padding: 0;
	display:inline;
	line-height: 70px;
}

.bottom-nav ul li {
	text-align: center;
	display: inline;
}

.bottom-nav ul li a {
	display: inline-block;
	font-size: 14px;
}


.bottom-nav span {
	display: inline-block;
	width:100%;
	height:0;
	font-size:0;
}

footer .article {
	padding-top: 30px;
	border-bottom: 2px solid #f3f1f5;
	border-top: 2px solid #f3f1f5;
}

footer .article p {
	font-size: 12px;
	margin-bottom: 30px;
}

footer .copyright p {
	text-align: center;
	padding: 15px 0;
	font-size: 12px;
}

footer .copyright {
	text-align: justify;
  align-items: center;
}

/* Media styles */

@media (min-width: 576px) {
	.container {
    	max-width: 540px;
	}
}

@media (min-width: 768px) {
	.container {
    	max-width: 720px;
	}
}

@media (min-width: 992px) {
	.container {
    	max-width: 960px;
	}
}

@media (max-width: 998px) {
	.main-info {
		text-align: center;
		padding-top: 190px;
		width: 100%;
	  padding: 190px 0 95px;
	  width: 100%;
	}

	.navbar .top-nav li a {
    padding: 10px 20px;
  }

	.main-info form.form-info input[type="text"] {
		font-size: 30px;
    width: auto;
    text-align: center;
	}

	.navbar-brand {
		display: none;
	}

	.main-info form.form-info select {
		margin-bottom: 15px;
	}

	.features .row-items .item {
	    margin: 15px;
	}

	.features, .banner-container, .faq, footer {
		max-width: 100%;

	}

	p, h1, h2, h3 {
		padding-left: 15px;
    padding-right: 15px;
	}

	.item {
    flex-basis: auto;
  }

  .faq .row-items .item:first-child {
    padding-right: 0;
	}

	.faq .row-items .item:nth-child(2n) {
		padding-left: 0;
	}

	.navbar .top-nav {
		padding-left: 15px;
	}
}

@media (max-width: 576px) {
	.bottom-nav {
    display: none;
	}

	.navbar .top-nav li a {
    padding: 10px 10px;
	}
}

@media (min-width: 1200px) {
	.container {
    	max-width: 1200px;
	}
}

/* Media styles end */


